@import '../../global.scss';


.header{
    height: 75vh;
    background-color: $background-color;
    position: relative;
    overflow: hidden;
}
.header__container{
    height: 100%;
    color: white;
    @include flexMixin(center,center);
    .header__textbox{
        z-index: 3;
        h1{
            font-size: 80px;
            font-weight:500;
            margin: 0;
            padding: 0;
        }
        p{
            font-size: 35px;
            margin: 0;
            padding: 0;
            z-index: 3;
        }
    }
   
}
.header__circle{
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-image: linear-gradient(#4EF9FE,#0696FF);
    @include flexMixin(center,center);

}
.header__circleinside{
    background-color:$background-color ;
    height: 60%;
    width: 60%;
    z-index: 1;
    border-radius: 50%;
}

$timeAnimation: 10s;


$height__cirle--1:40vw;
$height__cirle--2:7vw;
$height__cirle--3:16vw;
$height__cirle--4:32vw;




.header__circle--1{
    transform: translate(-50%,-50%) rotate(45deg);
    animation: anim-1  $timeAnimation  infinite linear;
    transition: .6s;
    left: -2.556vw;
    bottom:  -74vh;
}
.header__circle--2{
    transform: translate(-50%,-50%);
    animation: anim-2  $timeAnimation  infinite linear;
    transition: .3s;
    left: 21vw;
    bottom: 28vh;
}
.header__circle--3{
    transform: translate(-50%,-50%);
    animation: anim-3 $timeAnimation   infinite linear;
    transition: 1s;
    left: 70vw;
    bottom: -38vh;
}
.header__circle--4{
    transform: translate(-50%,-50%);
    animation: anim-4 $timeAnimation   infinite linear;
    transition: 1s;
    left: 100vw;
    bottom: -34vh;
}

@keyframes  anim-1 {
    0%{
        height: $height__cirle--1;
        width: $height__cirle--1;
    }
    50%{  
        height: $height__cirle--1 + 1vw;
        width: $height__cirle--1 + 1vw;
    }
    100%{  
        height: $height__cirle--1;
        width: $height__cirle--1;
    }
}
@keyframes  anim-2 {
    0%{
        height: $height__cirle--2;
        width: $height__cirle--2;
    }
    50%{  
        height: $height__cirle--2 + 1.8vw;
        width: $height__cirle--2 + 1.8vw;
    }
    100%{  
        height: $height__cirle--2;
        width: $height__cirle--2;
    }
}
@keyframes  anim-3 {
    0%{
        height: $height__cirle--3;
        width: $height__cirle--3;
    }
    50%{  
        height: $height__cirle--3 + 1.8vw;
        width: $height__cirle--3 + 1.8vw;
    }
    100%{  
        height: $height__cirle--3;
        width: $height__cirle--3;
    }
}
@keyframes  anim-4 {
    0%{
        height: $height__cirle--4;
        width: $height__cirle--4;
    }
    50%{  
        height: $height__cirle--4 + 1.8vw;
        width: $height__cirle--4 + 1.8vw;
    }
    100%{  
        height: $height__cirle--4;
        width: $height__cirle--4;
    }
}
@media(max-width:600px){
    .header__container{
        .header__textbox{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 25px;
            }
        }
       
    }
}