@import "../../global.scss";
.services {
  height: 100%;
  padding: 25px 100px 125px;
  h2 {
    font-size: 30px;
    font-weight: lighter;
  }
}
.services__container {
  padding-top: 40px;
}
.services__grid {
  margin: 0 auto;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
}
.services__griditem {
  @include flexMixin(left, flex-start);
  flex-direction: column;
  width: 350px;
  margin-top: 40px;
  padding-left: 80px;
  img {
    height: 110px;
    width: auto;
  }
  h4 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: normal;
  }
  p {
    font-size: 20px;
    text-align: left;
    opacity: 0.8;
    width: 80%;
    margin-bottom: 35px;
  }
}

@media (max-width: 1200px) {
  .services {
    padding: 25px 50px 125px;
  }
  .services__griditem {
    padding: 0px;

    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      width: 100%;
    }
  }
}
