@import "../../global.scss";

.contact {
  height: 100%;
  padding: 50px 25%;
  @include flexMixin(center, center);
  label {
    height: 100%;
    width: 100%;
  }
}
.contact__box {
  h2 {
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  input {
    padding-left: 15px;
    text-align: left;
    font-size: 20px;
    color: #707070;
  }
  input::placeholder {
    font-size: 20px;
    text-align: left;
  }
}

$inputHight: 50px;
$inputOpacity: 0.9;

.contact__email {
  margin-top: 20px;
  height: $inputHight;
  width: 100%;
  opacity: $inputOpacity;
}
.contact__firstname {
  height: $inputHight;
  width: 100%;
  opacity: $inputOpacity;
}

.contact__inputtittle {
  height: $inputHight;
  width: 100%;
  margin-top: 20px;
  opacity: $inputOpacity;
}
.contact__textarea {
  margin-top: 20px;
  height: 280px;
  width: 100%;
  text-align: start;
  padding: 15px;
  font-size: 20px;
  color: #707070;
  opacity: $inputOpacity;
}
.contact__btn {
  margin-top: 20px;
  height: $inputHight;
  width: 170px;
  background: transparent
    linear-gradient(180deg, #4ef9fe 0%, #4cf6fe 0%, #0696ff 100%) 0% 0%
    no-repeat;
  border: none;
  p {
    color: white;
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .contact {
    height: 100%;
    padding: 50px 25px;
  }
  .contact__box {
    h2 {
      font-size: 45px;
    }
  }
  .contact__btn {
    width: 100%;
  }
}
