@import "../global.scss";

.footer {
  height: 300px;
  background-color: #171717;
  margin-top: 100px;
  p {
    text-align: left;
    color: white;
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-align: left;
  }
}

.footer__container {
  height: 100%;

  p {
    opacity: 0.5;
  }
}

.footer__side {
  @include flexMixin(center, center);
}

.footer__box {
  height: 240px;
  width: 100%;
  @include flexMixin(space-between, center);
}
.footer__personal {
  margin-right: 25px;
}
.footer__logobox {
  @include flexMixin(center, center);
  font-size: 24px;
  color: white;
}
.footer__logo {
  height: 55px;
  width: auto;
  margin-right: 10px;
}

.footer__data {
  margin-top: 23px;
  p {
    opacity: 0.5;
  }
  p:first-child {
    margin-bottom: 15px;
  }
}

.footer__emaillink {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
}

.footer__extralinks {
  h4 {
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 25px;
  }
  p {
    margin-top: 12px;
    margin-left: 1px;
  }
}

.footer__rightside {
  p {
    font-size: 16px;
  }
  .footer__contact {
    margin-right: 50px;
    h4 {
      margin-top: 20px;
      margin-bottom: 25px;
    }
    a {
      p {
        margin-top: 12px;
      }
    }
  }
}
.footer__blog {
  h4 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  div {
    p {
      margin-top: 12px;
    }
  }
}

.footer__right {
  height: 60px;
  @include flexMixin(flex-start, center);
  border-top: 3px solid #707070;
  color: rgba(255, 255, 255, 0.513);
}
@media (max-width: 1100px) {
  .footer__extralinks {
    display: none;
  }
  .footer__leftside {
    margin-right: 50px;
  }
  .footer__blog {
    p {
      font-size: 0.8em;
    }
  }
}

@media (max-width: 800px) {
  .footer__blog {
    display: none;
  }
  .footer__rightside {
    .footer__contact {
      margin-right: 0px;
    }
  }

  .footer__side {
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .footer {
    height: 100%;
  }
  .footer__box {
    display: none;
  }
  .footer__right {
    border: none;
    p {
      font-size: 14px;
    }
  }
}
