@import '../../global.scss';

$widthFirstItem:600px;

.portfolio{
    position: relative;
    height:450px;
    overflow-x: hidden;
}
.portfolio__drag{
    height: 100%;
    width: $widthFirstItem * 4;
    display: flex;
    cursor: grab;
}
.portfolio__item{
    border: 1px solid #707070;
    height: 100%;
    width: $widthFirstItem;
    background-size: cover;
}
.portfolio__item--1{
    left: 0;
    background-image: url('./img/Covid.png');
}
.portfolio__item--2{
    left: $widthFirstItem;
    background-image: url('./img/cryptobuffet.png');
}
.portfolio__item--3{
    left: $widthFirstItem *2;
    background-image: url('./img/edumat.png');
}
.portfolio__item--4{
    left: $widthFirstItem *3;
    background-image: url('./img/bookseller.png');
}
@media(max-width:600px){
    
    .portfolio{
        position: relative;
        height:225px;
    }
    .portfolio__item{
        width:80vw;
    }
}
